<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello</h1>
    <div class="container">
        <form action="" method="POST" class="contact-form">
            {% csrf_token %}
            <div class="form-control">
                <div class="tag">Fullname</div>
                <input type="text" name="fullname">
            </div>
             <div class="form-control">
                <div class="tag">Email</div>
                <input type="text" name="email">
            </div>
             <div class="form-control">
                <div class="tag">Subject</div>
                <input type="text" name="subject">
            </div>
              <div class="form-control">
                <div class="tag">Message</div>
                <textarea name="message" cols="30" rows="10"></textarea>
            </div>
            <div class="form-control">
                <input type="submit" class="btn submit-btn" value="Send Massage">
            </div>


        </form>
    </div>

</body>
</html>