{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>

    <!-- Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="giupviechn.vn">
    <!-- description -->
    <meta name="description" content="Giúp việc ở lại hàng đầu Việt Nam đi đầu trong lĩnh vực cung cấp dịch vụ giúp việc gia đình chuyên nghiệp. Đội ngũ nhân việ được đào tạo bài bản, có phẩm chất đạo đức tốt, mong muốn công việc ổn định, lâu dài..">
    <!-- keywords -->
    <meta name="keywords" content="Giúp việc hà nội">

    <!-- Stylesheets
    ============================================= -->
    <link href="{% static 'css/css-assets.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Favicon
    ============================================= -->
    <link rel="shortcut icon" href="{% static 'images/ico-01.png' %}">
    <link rel="apple-touch-icon" href=https://moradhamdy.com/morad/cloin-demo/images/general-elements/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://moradhamdy.com/morad/cloin-demo/images/general-elements/favicon/apple-touch-icon-72x72.png'}">
    <link rel="apple-touch-icon" sizes="114x114" href="https://moradhamdy.com/morad/cloin-demo/images/general-elements/favicon/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Title
    ============================================= -->
    <title>Giúp việc Hà Nội</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    

</head>

<body class="homepage">

    <!-- Loading Progress
    ============================================= -->
    <div id="loading-progress">
        <a class="logo" href="#">
            <img src="{% static 'images/logo.png' %}" width="300px" data-logo-alt="{% static 'images/logo.png' %}" alt="">
            <h3><span class="colored">Giupviechn.vn</span></h3>
            <span>HTML Template</span>
        </a><!-- .logo end -->
        <div class="lp-content">
            <div class="lp-counter">
                Loading
                <div id="lp-counter">0%</div>
            </div><!-- .lp-counter end -->
            <div class="lp-bar">
                <div id="lp-bar"></div>
            </div><!-- .lp-bar end -->
        </div><!-- .lp-content end -->
    </div><!-- #loading-progress end -->

    <!-- Document Full Container
    ============================================= -->
    <div id="full-container">

        <!-- Header
        ============================================= -->
        <header id="header">

            <div id="header-bar-1" class="header-bar">
        
                <div class="header-bar-wrap">
        
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
        
                                <div class="hb-content">
                                    <a class="logo logo-header" href="index.html">
                                        <img src="{% static 'images/logo-amban.png' %}" data-logo-alt="https://moradhamdy.com/morad/cloin-demo/images/files/logo-header-alt.png" alt="">
                                        <h3><span class="colored">Giupviechn.vn</span></h3>
                                        <span>Landing Page</span>
                                    </a><!-- .logo end -->
                                </div><!-- .hb-content end -->
        
                            </div><!-- .col-md-12 end -->
                        </div><!-- .row end -->
                    </div><!-- .container end -->

                </div><!-- .header-bar-wrap -->
        
            </div><!-- #header-bar-1 end -->

        </header><!-- #header end -->

        <!-- Banner
        ============================================= -->
        <section id="banner">
        
            <div class="banner-parallax" data-banner-height="650">
                <img src="{% static 'images/d328253f26.png' %}" alt="">
                <div class="overlay-colored color-bg-dark opacity-85"></div><!-- .overlay-colored end -->
                <div class="slide-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                            
                                <div class="banner-center-box text-white">
                                    <span class="subheading">Giúp Việc HN -</span>
                                    <h1>
                                        <span class="heading-200">Cung cấp</span>
                                        giúp việc hàng đầu Việt Nam
                                        <!-- <span class="heading-200">to Grow Your Business</span> -->
                                    </h1>
                                    <p class="description">
                                        Giúp việc ở lại hàng đầu Việt Nam đi đầu trong lĩnh vực cung cấp dịch vụ giúp việc gia đình chuyên nghiệp. Đội ngũ nhân việ được đào tạo bài bản, có phẩm chất đạo đức tốt, mong muốn công việc ổn định, lâu dài..
                                    </p>
                                    <div class="btn-row mt-20">
                                        <a class="btn x-large colorful hover-dark rounded move-top" href="tel:0972 624 450"><img src="http://giupviechn.vn/images/phone-icon.gif" width="50px"> Tìm giúp việc</a>
                                        <small>
                                            Đăng ký trở thành giúp việc
                                            
                                        </small>
                                    </div><!-- .btn-row end -->
                                </div><!-- .banner-center-box end -->
                            
                            </div><!-- .col-md-6 end -->
                            <div class="col-md-5 col-md-push-1">
                            
                                <div class="banner-center-box">
                                    <div class="cta-subscribe cta-subscribe-1 box-form text-center">
                                        <div class="box-title">
                                            <img src="{% static 'images/email.png' %}" width="50px">

                                            <h3>Đăng ký tìm giúp việc</h3>
                                            <p>Dịch vụ giúp việc chất lượng, uy tín, được nhiều khách hàng tin dùng!</p>
                                        </div><!-- end .box-title -->
                                        <div class="box-content">
                                            <div class="cs-notifications">
                                                <div class="cs-notifications-content"></div>
                                            </div><!-- .cs-notifications end -->
                                            <form id="form-cta-subscribe-1" class="redirected" action="" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <span class="field-icon icon icon-User"></span>
                                                    <input type="text" name="cs1Name" id="cs1Name" class="form-control" placeholder="Họ và tên">
                                                </div><!-- .form-group end -->
                                                <div class="form-group">
                                                    <span class="field-icon icon icon-Mail"></span>
                                                    <input type="text" name="cs1Email" id="cs1Email" class="form-control" placeholder="Email">
                                                </div><!-- .form-group end -->
                                                <div class="form-group">
                                                    <span class="field-icon icon icon-Phone2"></span>
                                                    <input type="text" name="cs1PhoneNum" id="cs1PhoneNum" class="form-control" placeholder="Số điện thoại">
                                                </div><!-- .form-group end -->
                                                <div class="form-group">
                                                    <select class="form-select" name="form-select">
                                                      <option>Lựa chọn dịch vụ</option>
                                                      <option>Giúp việc theo giờ</option>
                                                      <option>Chăm người bệnh</option>
                                                      <option>Giúp việc lâu dài</option>
                                                      <option>Giúp việc Tết nguyên đán</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="form-control" value="Xác nhận">
                                                </div><!-- .form-group end -->
                                            </form><!-- #form-cta-subscribe-1 end -->
                                        </div><!-- .box-content end -->
                                    </div><!-- .box-form end -->
                                </div><!-- .banner-center-box end -->
                            
                            </div><!-- .col-md-5 -->
                        </div><!-- .row end -->
                    </div><!-- .container end -->
                </div><!-- .slide-content end -->
            </div><!-- .banner-parallax end -->
        
        </section><!-- #banner end -->

        <!-- === Section Our Services 1 =========== -->
        <div id="section-our-services-1" class="section-flat">
        
            <div class="section-content">
        
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-push-2">
                            
                            <h2 class="title-featured-1 text-center">
                                <span class="heading-200" style="font-weight: 600;">DỊCH VỤ GIÚP VIỆC NHÀ THEO GIỜ</span>
                                <br /><Small style="font-size: 16px;">Phục vụ đa dạng nhu cầu dọn dẹp từ khách hàng cá nhân cho đến các doanh nghiệp

</Small>
                            </h2>
                            
                        </div><!-- .col-md-8 end -->
                        <div class="col-md-12">
                        
                            <div class="divider-container">
                                <div class="divider-line">
                        
                                </div><!-- .divider-line end -->
                            </div><!-- .divider-container end -->
                        
                        </div><!-- .col-md-12 end -->
                        <div class="col-md-3 col-sm-6">
        
                            <div class="box-info box-service-1 mb-md-40">
                                <div class="box-icon">
                                    <span class="icon icon-Bulb"><img src="{% static 'images/clock.png' %}" width="50px"></span>
                                
                                </div><!-- .box-icon end -->
                                <div class="box-content">
                                    <h4><a href="javascript:;">Tối ưu thời gian</a></h4>
                                    <p>
                                       Dễ dàng đặt lịch, chưa tới 30s đã có người đến đúng khung giờ bạn yêu cầu. Vô cùng tiện lợi.
                                    </p>
                                </div><!-- .box-content end -->
                            </div><!-- .box-info box-service-1 end -->
        
                        </div><!-- .col-md-3 -->
                        <div class="col-md-3 col-sm-6">
        
                            <div class="box-info box-service-1 mb-md-40">
                                <div class="box-icon">
                                    <span class="icon icon-Bulb"><img src="{% static 'images/businessman.png' %}" width="50px"></span>
                                </div><!-- .box-icon end -->
                                <div class="box-content">
                                    <h4><a href="javascript:;">Chuyên nghiệp</a></h4>
                                    <p>
                                        Đội ngũ cộng tác viên được đào tạo và có kinh nghiệm trong lĩnh vực dọn dẹp, giúp việc nhà.
                                    </p>
                                </div><!-- .box-content end -->
                            </div><!-- .box-info box-service-1 end -->
        
                        </div><!-- .col-md-3 -->
                        <div class="col-md-3 col-sm-6">
        
                            <div class="box-info box-service-1 mb-sm-40">
                                <div class="box-icon">
                                    <span class="icon icon-Bulb"><img src="{% static 'images/home.png' %}" width="50px"></span>
                                </div><!-- .box-icon end -->
                                <div class="box-content">
                                    <h4><a href="javascript:;">An toàn</a></h4>
                                    <p>
                                        Người giúp việc có đầy đủ thông tin hồ sơ, nhân thân tốt, có giấy xác nhận hạnh kiểm từ địa phương.
                                    </p>
                                </div><!-- .box-content end -->
                            </div><!-- .box-info box-service-1 end -->
        
                        </div><!-- .col-md-3 -->
                        <div class="col-md-3 col-sm-6">
        
                            <div class="box-info box-service-1">
                                <div class="box-icon">
                                   <span class="icon icon-Bulb"><img src="{% static 'images/customer-service.png' %}" width="50px"></span>
                                </div><!-- .box-icon end -->
                                <div class="box-content">
                                    <h4><a href="javascript:;">Hỗ trợ</a></h4>
                                    <p>
                                       Luôn lắng nghe ý kiến của khách hàng và giải quyết nhanh nhất có thể.
                                    </p>
                                </div><!-- .box-content end -->
                            </div><!-- .box-info box-service-1 end -->
        
                        </div><!-- .col-md-3 -->
        
                    </div><!-- .row end -->
                </div><!-- .container end -->
        
            </div><!-- .section-content end -->
        
        </div><!-- .section-flat end -->

        <!-- === Section Our Services 2 =========== -->
        <div id="section-our-services-2" class="section-flat">
        
            <div class="section-content">
        
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
        
                            <div class="section-title mt-10 mt-md-0">
                                    <h2>
                                        <span class="heading-200">Dịch vụ</span> của chúng tôi
                                    </h2>
                                    <p class="description">
                                       <span style="color:#05d561;font-weight: bold;">U</span>Y TÍN - <span style="color:#05d561;font-weight: bold;">T</span>ẬN TÂM - <span style="color:#05d561;font-weight: bold;">C</span>HU TOÀN
                                    </p>
                            </div><!-- .section-title end -->
                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="box-info box-service-2 mb-20">
                                        <div class="box-icon">
                                            <img src="{% static 'images/save-time.png' %}">
                                        </div><!-- .box-icon end -->
                                        <div class="box-content">
                                            <h5>GIÚP VIỆC THEO GIỜ</h5>
                                            <p>
                                                Dịch vụ tìm kiếm giúp việc theo giờ - Sáng đi tối về chất lượng
                                            </p>
                                        </div><!-- .box-content end -->
                                    </div><!-- .box-info box-service-2 end -->

                                </div><!-- .col-sm-6 end -->
                                <div class="col-sm-6">
                                
                                    <div class="box-info box-service-2 mb-20">
                                        <div class="box-icon">
                                            <img src="{% static 'images/hospital-bed.png' %}">

                                        </div><!-- .box-icon end -->
                                        <div class="box-content">
                                            <h5>CHĂM NGƯỜI BỆNH</h5>
                                            <p>
                                                Dịch vụ chăm sóc người người bệnh tại nhà, bệnh viện, tận tâm với người bệnh để gia đình và người bệnh an tâm điều trị
                                            </p>
                                        </div><!-- .box-content end -->
                                    </div><!-- .box-info box-service-2 end -->
                                
                                </div><!-- .col-sm-6 end -->
                                <div class="col-sm-6">
                                
                                    <div class="box-info box-service-2">
                                        <div class="box-icon">
                                            <img src="{% static 'images/tet.png' %}">
                                        </div><!-- .box-icon end -->
                                        <div class="box-content">
                                            <h5>GIÚP VIỆC<BR /> TẾT NGUYÊN ĐÁN</h5>
                                            <p>
                                                Dịch vụ giúp việc Tết chắc chắn rằng những bà nội trợ có thể bớt đi một nửa gánh nặng trong những ngày đầu năm
                                            </p>
                                        </div><!-- .box-content end -->
                                    </div><!-- .box-info box-service-2 end -->
                                
                                </div><!-- .col-sm-6 end -->
                                <div class="col-sm-6">
                                
                                    <div class="box-info box-service-2">
                                        <div class="box-icon">
                                            <img src="{% static 'images/time.png' %}">
                                        </div><!-- .box-icon end -->
                                        <div class="box-content">
                                            <h5>GIÚP VIỆC LÂU DÀI</h5>
                                            <p>
                                                Được tuyển chọn và sàng lọc vô cùng khắt khe với tỉ lệ thành công khi lựa chọn người ở mức 82 % và GV88 đã và đang nỗ lực từng ngày để tỉ lệ thành công cao nhất
                                            </p>
                                        </div><!-- .box-content end -->
                                    </div><!-- .box-info box-service-2 end -->
                                
                                </div><!-- .col-sm-6 end -->
                            </div><!-- .row end -->
                            <a class="btn colorful large hover-dark rounded mt-40 move-top" href="tel:0972 624 450"><img src="{% static 'images/phone-icon.gif' %}" width="50px"> LIÊN HỆ NGAY</a>

                        </div><!-- .col-md-6 end -->
                        <div class="col-md-6 mt-md-60">

                            <img src="https://www.guvico.com/wp-content/uploads/2023/06/giup-viec-theo-gio-4-1536x1292.png">

                        </div><!-- .col-md-6 -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
        
            </div><!-- .section-content end -->
        
        </div><!-- .section-flat end -->

        <!-- === Section Some Facts 1 =========== -->
        <div id="section-some-facts-1" class="section-parallax">
        
            <img src="{% static 'images/fdde3ed3af.jpeg' %}" alt="">
            <div class="overlay-colored color-bg-dark opacity-85"></div><!-- .overlay-colored end -->
            <div class="section-content">
        
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                        
                            <ul class="list-some-facts list-boxes boxes-4">
                                <li>
                                    <div class="box-info box-some-fact-1 text-white">
                                        <div class="box-icon">
                                            <span class="icon icon-Files"></span>
                                        </div><!-- .box-icon end -->
                                        <div class="box-content">
                                            <h2><span class="counter-stats">93%</span></h2>
                                            <h5>Khách hàng hài lòng</h5>
                                        </div><!-- .box-content end -->
                                    </div><!-- .box-info box-some-fact-1 end -->
                        
                                </li>
                                <li>
                                    <div class="box-info box-some-fact-1 text-white">
                                        <div class="box-icon">
                                            <span class="icon icon-Users"></span>
                                        </div><!-- .box-icon end -->
                                        <div class="box-content">
                                            <h2><span class="counter-stats">300+</span></h2>
                                            <h5>Đội ngũ nhân viên</h5>
                                        </div><!-- .box-content end -->
                                    </div><!-- .box-info box-some-fact-1 end -->
                        
                                </li>
                                <li>
                                    <div class="box-info box-some-fact-1 text-white">
                                        <div class="box-icon">
                                            <span class="icon icon-MessageLeft"></span>
                                        </div><!-- .box-icon end -->
                                        <div class="box-content">
                                            <h2><span class="counter-stats">10,000+</span></h2>
                                            <h5>Khách hàng tin tưởng</h5>
                                        </div><!-- .box-content end -->
                                    </div><!-- .box-info box-some-fact-1 end -->
                        
                                </li>
                                <li>
                                    <div class="box-info box-some-fact-1 text-white">
                                        <div class="box-icon">
                                            <span class="icon icon-Time"></span>
                                        </div><!-- .box-icon end -->
                                        <div class="box-content">
                                            <h2><span class="counter-stats">279800</span></h2>
                                            <h5>Số giờ phục vụ</h5>
                                        </div><!-- .box-content end -->
                                    </div><!-- .box-info box-some-fact-1 end -->
                        
                                </li>
                            </ul><!-- .list-boxes end -->
                        
                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
        
            </div><!-- .section-content end -->
        
        </div><!-- .section-flat end -->

        <!-- === Section Pricing Plans 1 =========== -->
        <div id="section-pricing-plans-1" class="section-flat" data-scroll-index="4">
        
            <div class="section-content">
        
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
        
                            <div class="section-title text-center">
                                <h2>
                                    <span class="heading-200" style="font-weight:600">ĐỘI NGŨ NGƯỜI GIÚP VIỆC</span> <small><a href="#" style="font-size: 12px;">Xem thêm >></a></small>
                                    
                                </h2>
                                <p>
                                    Đội ngũ cộng tác viên được đào tạo và có kinh nghiệm trong lĩnh vực dọn dẹp, giúp việc nhà
                                </p>
                            </div><!-- .section-title end -->
        
                        </div><!-- .col-md-8 end -->
                        <div class="col-md-12">
        
                            <div class="pricing-table">
        
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
        
                                        <div class="pt-column">
                                           <img src="https://giupviec88.vn/storage/uploads/9-387x466.png">

                                        </div><!-- .pt-column end -->
                                        <center style="padding-top: 20px;"><a class="btn large colorful hover-dark rounded move-top" href="#">Chọn giúp việc</a></center>
                                    </div><!-- .col-md-4 end -->
                                    <div class="col-md-4 col-sm-6 mt-sm-50">
        
                                        <div class="pt-column featured">
                                            <img src="https://giupviec88.vn/storage/uploads/9-387x466.png">
                                        </div><!-- .pt-column end -->
                                        <center style="padding-top: 20px;"><a class="btn large colorful hover-dark rounded move-top" href="#">Chọn giúp việc</a></center>
                                    </div><!-- .col-md-4 end -->
                                    <div class="col-md-4 col-sm-6 mt-md-50">
        
                                        <div class="pt-column">
                                           <img src="https://giupviec88.vn/storage/uploads/21-387x466.png">
                                        </div><!-- .pt-column end -->
                                        <center style="padding-top: 20px;"><a class="btn large colorful hover-dark rounded move-top" href="#">Chọn giúp việc</a></center>
                                    </div><!-- .col-md-4 end -->
                                </div><!-- .row end -->
        
                            </div><!-- .pricing-table end -->
        
                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
        
            </div><!-- .section-content end -->
        
        </div><!-- .section-flat end -->

        <!-- === Section Customers Testimonials 1 =========== -->
        <div id="section-customers-testimonials-1" class="section-flat">
        
            <div class="section-content">
        
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-3">
        
                            <div class="section-title text-center">
                                <h2>
                                    <span class="heading-200">Phản hồi</span> của khách hàng
                                </h2>
                                <p class="description">
                                     Với phong cách làm việc tận tình, chu đáo và chuyên nghiệp, <a href="" style="text-decoration: underline;">Giupviechn.vn</a> cam kết sẽ làm hài lòng tới cả những vị khách khó tính nhất.
                                </p>
                            </div><!-- .section-title end -->
        
                        </div><!-- .col-md-6 end -->
                        <div class="col-md-12">
        
                            <div class="slider-testimonials mt-10">
                                <ul class="slick-slider">
                                    <li>
                                        <div class="slide">
                                            <div class="testimonial-single-1">
                                                <div class="ts-content">
                                                    Trước đây nhà tôi chỉ thuê người giúp việc theo giờ, nhưng tôi thường đi công tác xa, để vợ con ở nhà một mình cũng lo không có ai phụ giúp, chăm sóc. Bạn tôi giới thiệu tôi thuê người giúp việc bên Giupviechn.vn, may mắn là cả năm nay dùng dịch vụ thấy hài lòng, không có vấn đề gì.
                                                    <span class="icon-quote">“</span>
                                                </div><!-- .ts-content end -->
                                                <div class="ts-person">
                                                    <div class="ts-img">
                                                        <img src="https://moradhamdy.com/morad/cloin-demo/images/files/sliders/clients-testimonials/img-1.jpg" alt="">
                                                    </div><!-- .ts-img end -->
                                                    <div class="ts-name">
                                                        <h4>Phạm Tuấn Anh</h4>
                                                        <span>Chuyên viên IT</span>
                                                    </div><!-- .ts-name end -->
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div><!-- .rating end -->
                                                </div><!-- .ts-person end -->
                                            </div><!-- .testimonial-single-1 -->
                                        </div><!-- .slide end -->
                                    </li>
                                    <li>
                                        <div class="slide">
                                            <div class="testimonial-single-1">
                                                <div class="ts-content">
                                                    Do mình không biết nấu ăn và làm việc nhà nên mình thuê người giúp việc ở lại để đỡ đần công việc, đi làm về nhà cửa sạch sẽ, có sẵn cơm canh, không cần dọn dẹp nấu nướng. Mình thích dịch vụ của Giupviechn.vn ở chỗ cần người là có ngay, rất nhanh, cô giúp việc bên mình hiện giờ làm việc cẩn thận.
                                                    <span class="icon-quote">“</span>
                                                </div><!-- .ts-content end -->
                                                <div class="ts-person">
                                                    <div class="ts-img">
                                                        <img src="https://moradhamdy.com/morad/cloin-demo/images/files/sliders/clients-testimonials/img-2.jpg" alt="">
                                                    </div><!-- .ts-img end -->
                                                    <div class="ts-name">
                                                        <h4>Lê Thị Ngọc Anh</h4>
                                                        <span>Giáo viên Tiếng anh</span>
                                                    </div><!-- .ts-name end -->
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div><!-- .rating end -->
                                                </div><!-- .ts-person end -->
                                            </div><!-- .testimonial-single-1 -->
                                        </div><!-- .slide end -->
                                    </li>
                                    <li>
                                        <div class="slide">
                                            <div class="testimonial-single-1">
                                                <div class="ts-content">
                                                    Tết rồi tôi có thuê thử người giúp việc bên Giupviechn.vn để phụ giúp dọn dẹp đón năm mới, nhưng vì ưng cô giúp việc làm việc kĩ càng và nấu nướng ngon nên tôi thuê luôn giúp việc ở lại. Tôi thấy dịch vụ của Giupviechn.vn nhanh chóng, nhân viên tư vấn nhiệt tình.
                                                    <span class="icon-quote">“</span>
                                                </div><!-- .ts-content end -->
                                                <div class="ts-person">
                                                    <div class="ts-img">
                                                        <img src="https://moradhamdy.com/morad/cloin-demo/images/files/sliders/clients-testimonials/img-3.jpg" alt="">
                                                    </div><!-- .ts-img end -->
                                                    <div class="ts-name">
                                                        <h4>Hoàng Trọng Hiệp</h4>
                                                        <span>Giám đốc công ty</span>
                                                    </div><!-- .ts-name end -->
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div><!-- .rating end -->
                                                </div><!-- .ts-person end -->
                                            </div><!-- .testimonial-single-1 -->
                                        </div><!-- .slide end -->
                                    </li>
                                    
                                </ul><!-- .slick-slider end -->
                            </div><!-- .slider-testimonials end -->
        
                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
        
            </div><!-- .section-content end -->
        
        </div><!-- .section-flat end -->

        

        <!-- === Section CTA 1 =========== -->
        <div id="section-cta-1" class="section-parallax center-vertical text-white">
        
            <img src="{% static 'images/4140106eb8.jpeg' %}" alt="">
            <div class="overlay-colored color-bg-dark opacity-85"></div><!-- .overlay-colored end -->
            <div class="section-content">
        
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="box-center">
                                <h1>
                                    <span class="heading-200">Liên hệ</span>
                                    <br>
                                    Ngay với chúng tôi!
                                </h1>
                                <p class="description">
                                    <span style="font-size:18px"><i class="fa fa-map" aria-hidden="true"></i>
 326 Lê Trong Tấn, Thanh Xuân, Hà Nội</span><br />
                                    <span style="font-size:18px"><i class="fa fa-phone" aria-hidden="true"></i> (+84) 972 624 450</span><br />
                                    <span style="font-size:18px"><i class="fa fa-envelope" aria-hidden="true"></i>
info@giupviechn.vn</span>
                                </p>
                            </div><!-- .box-center end -->

                        </div><!-- .col-md-6 end -->
                        <div class="col-md-6">

                            <div class="box-center">
                                <div class="btn-row style-2 mt-md-50">
                                    <a class="btn x-large colorful hover-dark rounded move-top" href="tel:0972 624 450">TÌM GIÚP VIỆC NGAY</a>
                                    <small>
                                        Đăng ký trở thành giúp việc
                                        <!-- <br>
                                        From You Soon -->
                                    </small>
                                </div><!-- .btn-row end -->
                            </div><!-- .box-center end -->

                        </div><!-- .col-md-6 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
        
            </div><!-- .section-content end -->

        </div><!-- .section-flat end -->

        <!-- Footer
        ============================================= -->
        <footer id="footer">
        
            <div id="footer-bar-1" class="footer-bar">
        
                <div class="footer-bar-wrap">
        
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
        
                                <div class="fb-row">
                                    <div class="copyrights-message">
                                        <span>Copyright © 2023</span> <a href="javascript:;" target="_blank">Giupviechn.vn</a> <span>All Rights Reserved.</span>
                                    </div><!-- .copyrights-message end -->
                                    <ul class="social-icons x4 grey-bg hover-colorful-bg animated rounded">
                                        <li><a class="si-twitter" href="#"><img src="{% static 'images/zalo.png' %}" width="50px" style="padding-top:5px"></a></li>
                                        <li><a class="si-facebook" href="#"><img src="{% static 'images/facebook-app-symbol.png' %}" width="20px" style="padding-top:5px"></a></li>
                                        <li><a class="si-youtube" href="mailto:info@giupviechn.vn"><img src="{% static 'images/gmail.png' %}" width="30px" style="padding-top:5px"></a></li>
                                    </ul><!-- .social-icons end -->
        
                                </div><!-- .fb-row end -->
        
                            </div><!-- .col-md-12 end -->
                        </div><!-- .row end -->
                    </div><!-- .container end -->
        
                </div><!-- .footer-bar-wrap -->
        
            </div><!-- #footer-bar-1 end -->
        
        </footer><!-- #footer end -->

    </div><!-- #full-container end -->

    <a class="scroll-top-icon scroll-top" href="javascript:;"><i class="fa fa-angle-up"></i></a>

    <!-- External JavaScripts
    ============================================= -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jRespond.min.js' %}"></script>
    <script src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.waitforimages.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!--    <script src="{% static 'homepage/js/jquery.ajaxchimp.min.js' %}"></script>-->
    <script src="{% static 'js/simple-scrollbar.min.js' %}"></script>
<!--    <script src="{% static 'js/jquery.validate.min.js' %}"></script>-->
    <script src="{% static 'js/functions.js' %}"></script>

</body>
</html>
